fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
pydantic[email]
passlib[bcrypt]
python-multipart
httpx
resend
jinja2==3.1.2
python-dotenv
apscheduler
pandas
bcrypt


